body {
  background: #F5F2F0;
  color: #3d4451;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  // outline: 1px solid red;
}

.conversation {
       width: 80px;
       background-color: #C7B8AB;
       position: relative;
       display: block;
       color: white;
       font-size: 14px;
       text-align: center;
       padding: 5px 0px;
       left: 60%;
  &:after {
    position: absolute;
     content: "";
     /* bottom: -16px; */
     left: 12%;
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 15px 15px 0 0;
     border-color: #C7B8AB transparent transparent transparent;
     top: 22px;
     }
}

.App {
  text-align: center;
  padding: 0px 20px;

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 515px;
    background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2767&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 515px;
    background-color: rgba(44, 51, 64, 0.6);
    z-index: -1;

  }
}

* {
  // outline: 1px solid red;

  ul {
    list-style: none;
  }
}

.padding_right {
  padding-right: 15px;
}

.title_space {
  margin-top: 80px;
  margin-bottom: 30px;
}

.color_1 {
  color: #9da0a7;
  font-weight: 400;
  padding-left: 6px;
}

.color_3 {
  color: #6B7870;
}

.color_2 {
  font-size: 34px;
  font-weight: 600;
}

.color_4 {
  color: #3d4451;
}

.font_bold {
  font-weight: bold;
}

.font_bold_normal {
  font-weight: normal;
}

.fixed_size {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
  font-size: 20px;
}

.ProfileIntro {
  display: flex;
  background-color: white;
  margin-bottom: 15px;
  margin-top: 70px;

  .profilebgc {
    min-height: 410px;
    padding-top: 60px;
    box-shadow: 0 1px 8px #777;
  }

  .link_container {
    background-color: #C7B8AB;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px 0px;
    align-items: center;
    margin-top: 55px;

    .link {
      transition: all 0.5s;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  .picture {
    margin-top: 16%;
    width: 65%;
    margin: auto;
    margin-top: 16px;

    img {
      width: 65%;
    }
  }

  .card_name {
    // border-bottom: 1px solid gray;
    padding: 15px;
    text-align: left;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 420px;
      height: 1px;
      background-color: #3d4451;
      left: 5px;
      /* top: 27px; */
      bottom: -3px;

    }

    .name {
      font-size: 36px;
    }

  }

  .card_intro {
    text-align: left;
    font-size: 15px;

    div {
      padding: 16px;
    }
  }
}

.Timeline {
  .projectButton {
    color: rgba(0, 0, 0, 0.87);
    padding: 8px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    min-height: 36px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.4em;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.23);
  }

  .vertical-timeline-element-content {
    border-top: 5px solid #E6A85F;
  }

  // .vertical-timeline-element-icon svg {
  //   display: block;
  //   height: auto;
  //   width: 210px;
  //   position: static;
  //   left: 0;
  //   top: 0;
  //   margin: 0;
  // }

  .vertical-timeline-element--Germany {
    img {
      width: 50px;
      height: 50px;
      position: relative;
      top: 5px;
    }
  }


  .vertical-timeline-element--iii {
    img {
      width: 40px;
      height: 40px;
      position: relative;
      top: 5px;
    }
  }
}

.techStack_wrap {
  .MuiGrid-spacing-xs-3 {
    margin: 0;
    width: 100%;
  }

  hr {
    width: 100%;
    max-width: 150px;
    height: 5px;
    background-color: #dedede;
    display: inline-block;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px 0px 0px;
  }

  .TechStack {
    box-shadow: 0 1px 8px #777;
    background-color: #f7f7f7;
  }

  .icon {
    font-size: 16px;
  }

  ul {
    li {
      padding: 5px 0;
      max-width: 300px;
      color: #B45A3D;
      font-weight: 500;
    }
  }
}

.Languages {
  background: #3f3830;
}

.AboutMe {
  .aboutMe_content {
    font-weight: 300;
    font-family: Open Sans;
    -webkit-font-smoothing: antialiased;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    // margin: 30px 0px;
    line-height: 1.8;
  }
}

@media (max-width: 960px) {
  .fixed_size {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }

  .ProfileIntro {
    .link_container {
      justify-content: space-evenly;
    }
  }

  .techStack_wrap {
    hr {
      margin: 0px;
    }

    .MuiGrid-spacing-xs-3 {
      margin: 0px;
    }
  }

  .Timeline {
    // .vertical-timeline-element-icon {
    //   svg {
    //     width: 150px;
    //     position: relative;
    //     left: -4px;
    //     top: -3px;
    //   }
    // }

    // .vertical-timeline-element--iii {
    //   img {
    //     width: 30px;
    //     height: 30px;
    //   }
    // }

    // .vertical-timeline-element--Germany img {
    //   width: 35px;
    //   height: 35px;
    //   position: relative;
    //   top: 4px;
    // }

    // .vertical-timeline-element--nchu img {
    //   width: 60px;
    //   height: 60px;
    //   position: relative;
    //   top: 6px;
    // }

    // .vertical-timeline-element--hote img {
    //   width: 60px;
    //   height: 37px;
    // }
  }

}

.Project {
  .companyName {
    margin-top: 15px;
  }

  .vertical-timeline-element-content p {
    margin: 0px;
  }

  .button {
    display: inline-block;
    padding: 9px 81px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.87);
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.23);
    transition: .4s;

    &:hover {
      background-color: lightgray;
      color: white;
    }
  }

  .skillsButton {
    margin: 5px 4px;
    display: inline-block;
    padding: 6px 9px;
    border-radius: 44px;
    background-color: #e0e0e0;
  }


}

@media (min-width: 960px) and (max-width: 1169px) {
  .iconMediaquery {
    top: 7px !important;
    color: white !important;
    position: relative !important;
    font-size: 24px !important;
  }

  // .Timeline {
  //   .vertical-timeline-element-icon svg {
  //     width: 169px;
  //     position: relative;
  //     left: -7px;
  //     top: -5px;
  //     margin: 0
  //   }


  //   .vertical-timeline-element--hote img {
  //     width: 50px;
  //     height: 32px;
  //     position: absolute;
  //     left: -5px;
  //     top: 5px;
  //   }
}




.button_1{
padding-left: 30px !important;
padding-right: 30px !important;
margin-right: 20px !important;
margin-top: 20px !important;
}
  

.anchor_pic{
  width: 80%;
}
  
  //1169 960
